.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    flex-shrink: 0; /* Header tem tamanho fixo */
  }
  
  .content {
    flex-grow: 1; /* Faz a section crescer para ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
  }
  
  footer {
    flex-shrink: 0; /* Footer tem tamanho fixo */
  }